.advantages {
  font-family: 'Poppins', sans-serif;
  padding: 60px 0 100px;

  &__title-main {
    text-transform: uppercase;
    text-align: center;
    color: #494040;
    font-size: 14px;
    letter-spacing: 2px;
  }

  &__description-main {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 50px;
  }

  &__item {
    position: relative;
    width: 50%;
    transition: .3s ease-out;
    display: flex;
    z-index: 0;

    &:nth-child(odd) {
      justify-content: flex-end;
    }

    &-box {
      padding: 20px 80px;
      display: block;
      cursor: pointer;

      &::after {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: .3s ease-in;
        background: linear-gradient(180deg, #22b3b3, #f4e7f0);
        z-index: -1;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
    transition: .3s ease-out;
    text-transform: uppercase;
  }

  &__description {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
    max-width: 400px;
  }

  &__order {
    margin: 0 auto;
    --offset: 5px;
    --border-size: 2px;
    
    display: block;
    position: relative;
    padding: 15px 50px;
    appearance: none;
    border: 0;
    background: transparent;
    color: #5089ba;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
    
    &:hover {
      background: rgba(100, 0, 0, .03);
    }
    
    &-horizontal,
    &-vertical {
      position: absolute;
      top: var(--horizontal-offset, 0);
      right: var(--vertical-offset, 0);
      bottom: var(--horizontal-offset, 0);
      left: var(--vertical-offset, 0);
      transition: transform .8s ease;
      will-change: transform;
      
      &::before {
        content: '';
        position: absolute;
        border: inherit;
      }
    }
    
    &-horizontal {
      --vertical-offset: calc(var(--offset) * -1);
      border-top: var(--border-size) solid currentcolor;
      border-bottom: var(--border-size) solid currentcolor;
      
      &::before {
        top: calc(var(--vertical-offset) - var(--border-size));
        bottom: calc(var(--vertical-offset) - var(--border-size));
        left: calc(var(--vertical-offset) * -1);
        right: calc(var(--vertical-offset) * -1);
      }
    }
    
    &:hover &-horizontal {
      transform: scaleX(0);
    }
    
    &-vertical {
      --horizontal-offset: calc(var(--offset) * -1);
      border-left: var(--border-size) solid currentcolor;
      border-right: var(--border-size) solid currentcolor;
      
      &::before {
        top: calc(var(--horizontal-offset) * -1);
        bottom: calc(var(--horizontal-offset) * -1);
        left: calc(var(--horizontal-offset) - var(--border-size));
        right: calc(var(--horizontal-offset) - var(--border-size));
      }
    }
    
    &:hover &-vertical {
      transform: scaleY(0);
    }
  }
}

@media (max-width: 991px) {
  .advantages {
    padding: 20px 0 60px;

    &__title-main {
      font-size: 12px;
    }
  
    &__description-main {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__description {
      font-size: 14px;
    }

    &__list {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &__item {
      width: 100%;

      &-box {
        padding: 10px 40px;
        border-bottom: 2px solid #b1b1b1;
      }
    }

    &__order {
      --border-size: 1px;
      font-size: 12px;
      padding: 10px 45px;
    }
  }
}